<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= image_tag message.user.photo_url || "default_avatar.png", class: "avatar" %>
  <div class="message-content"><%= message.content %></div>
</div>
