<% if flash[:signed_in] %>
  <div id="signed_in_alert">
  </div>
<% end %>
<% if flash[:signed_out] %>
  <div id="signed_out_alert">
  </div>
<% end %>
<% if flash[:error] %>
  <div id="error">
  </div>
<% end %>
<% if flash[:notice] %>
  <div id="notice">
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="alert">
  </div>
<% end %>
<% if flash[:noticematch] %>
  <div id="noticematch">
  </div>
<% end %>
<% if flash[:alertmatch] %>
  <div id="alertmatch">
  </div>
<% end %>
<% if flash[:noticegratitude] %>
  <div id="noticegratitude">
  </div>
<% end %>
<% if flash[:alertgratitude] %>
  <div id="alertgratitude">
  </div>
<% end %>
<% if flash[:noticeupdategratitude] %>
  <div id="noticeupdategratitude">
  </div>
<% end %>
<% if flash[:alertupdategratitude] %>
  <div id="alertupdategratitude">
  </div>
<% end %>
<% if flash[:alertcollaborationitem] %>
  <div id="alertcollaborationitem">
  </div>
<% end %>
<% if flash[:noticecollaborationitem] %>
  <div id="noticecollaborationitem">
  </div>
<% end %>
