
<div class="container-fluid">
  <div class="row">
    <div class="wrap">
      <div class="col-md-4">
        <h1>Our Mission</h1>
        <p>Hafuru is for the open-minded people to have a place to enter their ambitions and have a way to connect with others that share the same values.</p>
      </div>
      <div class="col-md-4">
          <h1>About</h1>
          <p>Having a way to think more positive in this negative world. The team came together and in two weeks we now have Hafuru.</p>
      </div>
      <div class="col-md-4">
          <h1>Goals</h1>
          <p>Create a new way of sharing and connecting.</p>
      </div>
        <div class="member-page">
          <h1>#HafuruTeam</h1>
        </div>

        <div class="team-member">
            <div class="member">
            <%= image_tag "hc", class: 'team_image' %>
            <h4>Hien-Chanh</h4>
            <h5>Lead/Front End Developer</h5>
            <p>From Paris, France <br>Grateful: Le Wagon & Life</p>
            </div>

            <div class="member">
            <%= image_tag "oussama", class: 'team_image' %>
            <h4>Oussama</h4>
            <h5>Backend Developer</h5>
            <p>From Tunis, Tunisia <br>Grateful: Le Wagon & Family </p>
            </div>

            <div class="member">
            <%= image_tag "rey", class: 'team_image' %>
            <h4>Rey</h4>
            <h5>Full-stack Developer</h5>
            <p>From Fresno, USA <br>Grateful: Le Wagon & Food!</p>
            </div>
            <div class="member">
            <%= image_tag "luca", class: 'team_image' %>
            <h4>Luca</h4>
            <h5>Support Developer</h5>
            <p>From Manila, Philippines<br>Grateful: Le Wagon & Video Games</p>
          </div>
        </div>
    </div>
  </div>
</div>


