
<div class="container">
  <div class="row">
    <div class="col-xxs-12 col-lg-10 m-x-auto">
      <div class="about">
        <h1>Our Mission</h1>
        <p>Providing clarity through the things we are most grateful for.</p>
        <h2>About</h2>
        <div class="about-text">
        <p>Hafuru seeks to inspire individuals to connect with others through the things they are most grateful for, and we need more filler here so I'm just going to type a bunch of random text so that this appears longer than it actually does, okay? Haha guys let me know what you want to put here I'm done for now.</p>
        </div>
      </div>
      <div class="team">
        <h2>The Team</h2>
        <div class="row">
          <div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl">
            <img src="https://orig00.deviantart.net/3b61/f/2013/328/2/d/profile_picture_by_anycartoonrp_zim-d6vhg0s.jpg" class= "img-circle img-fluid m-x-auto m-b" style= "width: 112px" alt="HC">
            <h3>HC</h3>
            <p>Lead Developer</p>
          </div>
          <div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl">
            <img src="https://www.ienglishstatus.com/wp-content/uploads/2018/04/Anonymous-Whatsapp-profile-picture.jpg" class= "img-circle img-fluid m-x-auto m-b" style= "width: 112px" alt="Reyes">
            <h3>Reyes</h3>
            <p>Back-end guy</p>
          </div>
          <div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl">
            <img src="https://pbs.twimg.com/profile_images/623359332877365248/ee4ISVLy_400x400.png" class= "img-circle img-fluid m-x-auto m-b" style= "width: 112px" alt="Oussama">
            <h3>Oussama</h3>
            <p>Back-end guy</p>
          </div>
          <div class="col-xxs-12 col-sm-6 col-xxl-3 m-b-xxl">
            <img src="http://pm1.narvii.com/6552/d3a97e9f8ed437176eb81d8679c06ecb2af5fa12_00.jpg" class= "img-circle img-fluid m-x-auto m-b" style= "width: 112px" alt="Luca">
            <h3>Luca</h3>
            <p>Intern</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


