<%= content_for(:title) do %>
Hafuru - Welcoming Gratefulness
<% end %>

<% content_for(:navbar_class, "navbar-home") %>

<!-- Banner -->
<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/le-wagon-hcquach/image/upload/v1528120306/friends-backpacking-together_4460x4460.jpg');">
    <div class="banner-content">
      <h1>Hafuru</h1>
      <p><span id="banner-typed-text"></span></p>
      <a class="button new-quote animated">Start now</a>
    </div>
  </div>
</div>

  <!-- Carousel -->
  <div class="home-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active cover">
          <img src="https://i.kinja-img.com/gawker-media/image/upload/s--VZ1bMwiJ--/c_scale,f_auto,fl_progressive,q_80,w_800/641522534013585731.jpg" alt="Gratitude 1">
      </div>
      <div class="item">
         <img src="http://res.cloudinary.com/dpdu9kl83/image/upload/v1528208572/Screen_Shot_2018-06-05_at_23.22.01.png" alt="Gratitude 2">
      </div>

      <div class="item">
         <img src="https://54africa.com/wp-content/uploads/2018/01/IMG_7284_1024x1024.jpg" alt="Gratitude 3">
      </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="container-testimonials-form">
    <div class="testimonials">
      <div class="page animated" style="background:#8aa651">
        <div class="quotes-container">
          <blockquote class="quote">
            <p class="quote__body">Loading&hellip;</p>
          </blockquote>
        <div class="cta">
           <button class="button new-quote animated">Get Inspired</button>
        </div>
      </div>
    </div>
    <div class="quote-hafuru-footer">
      <p>From Hafuru with <i class="fas fa-heart"></i></p>
    </div>
  </div>

      <div class="home-form text-center">
        <div class="form-inner-container">
        <form id="letter-form", action="/gratitudes" method="post">
           <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <p>Today I'm
            <label for="title">grateful</label> for
            <input type="text" name="gratitude[title]" id="title" minlength="3" placeholder="(coffee, music, sun)" required></p>
          <p>
            <label for="description">Because</label><br>
            <input type="text" name="gratitude[description]" id="description" placeholder="(it made my day better)" required>
          </p>
          <p><label for="category">Category</label>
            <select name="gratitude[category_id]">
              <% Category.all.each do |cat| %>
                <option value="<%= cat.id %>"><%= cat.name %></option>
              <% end %>
            </select>
          </p>
          <p>
          <!-- <button type="submit">
              <small>Create</small>
          </button> -->
            <div class="cta">
             <button type= "submit" class="button new-quote animated">Create</button>
           </div>
          </div>
           <div class="quote-self-footer">
            <p>To your inner self with <i class="fas fa-heart"></i></p>
          </div>
          </div>
          </p>
        </form>
  </div>
</div>

</div>
