.container {
  margin: 120px;
  color: #838383;
}

.row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.wrap {
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1020px;
}

.about {
  max-width: 700px;
  margin: 0 auto 30px;
}

.about p {
  margin-top: 50px;
}

.about h2 {
  margin-top: 50px;
}

h1 {
  margin-top: 50px;
}

.team h2 {
  margin-bottom: 60px;
}

.member {
  margin-bottom: 40px;
}
