/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: relative;
  bottom: 70px;
  margin: 70px;
  padding: 10px;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.swal-modal {
  padding: 45px;
  border: 1px solid #3e549a;
  .swal-button-container{
    left: -62px;
  }
}
