.carousel {
  display: flex;
  justify-content: center;
  align-item: center;
  margin-top: 50px;
  margin-left: 3vw;
  background: hsla(0,0%,100%,.020);
  opacity: 0.9;
  height: calc(100vh - 100px);
  width: 94vw;
}
.carousel-inner > .item > img {
  position: relative;
  width: 100%;
}
