#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100vh;

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label {
    color: white;
  }

  form-control {
  border: 1px solid #ccc;
  }

  form-control, textarea, input {
    color: white;
    background-color: #8a79af;
    margin: 0px 5px;
    border: 1px solid #ccc;
  }

  .simple_form input {
    height: 40px;
  }

  .btn {
    display: inline-block;
    background: none;
    border: 0;
    font: 300 81.25%/1 Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    padding: 16px 24px;
    background-color: #ccc;
    color: white;
    border-radius: 3px;
    margin: 5px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
  #user_photo {
    color: white;
  }

}
