.gratitude-wrapper {
  display: flex;
  height: calc(100vh - 100px);
  width: 94vw;
  margin-top: 50px;
  margin-left: 3vw;
  justify-content: center;
  display-items: center;
  flex-direction: column;
  background-color: $first-global-color;

  .gratitude-container {
  display: flex;
  justify-content: center;
  display-items: center;
  flex-direction: row;
  }

  .gratitude-info {
    display:flex;
    justify-content: space-between;
    display-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    width: 200px;
    color: white;
  }

  .gratitude-date {
    margin-top: 30px;
  }

  .gratitude-photo {
    position: relative;
    text-align: center;
    color: white;
  }

  .top-right {
    position: absolute;
    top: 0px;
    right: 30px;
}

  .gratitude-button-container {
    display: flex;
    margin: 20px;
    flex-direction: column;
    text-align: left;

    .gratitude-button {
      color: white;
      font-family: 'Open Sans', sans-serif;
    }

  }

  .btn {
    margin: 0px 20px;
  }

  .gratitude-description {
    display: flex;
    margin: 20px;
    justify-content: center;
    color: white;
    text-align: center;
  }

  #day {
    font-size: 100px;
  }

  h2 {
    font-size: 30px;
  }

}
