.home-form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: white;
}

.quote-self-footer {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}
