.match {
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
  border-radius: 5px;
 }

.group-match {
  display: flex;
  margin: 30px 0px;
  justify-content: space-around;
}

.profile-match {
  flex-grow: 0;

  flex-basis: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
