.match-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  h1 {
    color: white;
    font-size: 30px;
  }

  h2 {
    color: white;
    font-size: 20px;
  }

  .match-title {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

.match-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0px 50px;
  margin-bottom: 20px;
}

.match-single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  text-align: center;
  width: 100%;
  height: 60vh;
  padding: 10px;

  .match-single-description {
    margin-top: 30px;
    color: $body-bg;
  }
}

.match-single-photo {
  height: 300px;
  width: 400px;
  position: relative;

  .match-card-user {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .card-top-right {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .card-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
  }

  .match-card-username {
    position: absolute;
    top: 60px;
    right: 10px;
    color: white;
  }

  .match-card-title {
    color: white;
  }
}

.match-buttons {
    display: flex;

  .cta {
    margin: 0 15px;
  }

  .button {
    display: inline-block;
    background: none;
    border: 0;
    font: 300 81.25%/1 Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    padding: 16px 24px;
    background-color: #ccc;
    color: white;
    border-radius: 3px;
  }

  .button.new-quote {
    background-color: white;
    color: $body-bg;
    opacity: 0.8;
  }

  .button-cancel {
    background-color: #ff7517;
    color: white;
    opacity: 0.8;
  }

  .button.new-quote:hover, .button-cancel:hover {
    opacity: 1;
  }

}
