.container-testimonials-form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100vh;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-style: oblique;
  width: 40%;
  opacity: 0.8;
}

.gratitude-form {
  width: 60%;
  margin: 20px;
}
