<% content_for(:navbar_class, "navbar-transparent") %>
<%= javascript_pack_tag 'application' %>
<%= content_for(:title) do %>
Hafuru - Create Gratitude
<% end %>

<div id="login-box">
  <div class="left">
    <div class="col-sm-12 col-xs-6 col-lg-12">
    <h1>Create a Gratitude</h1>
    <%= render partial: "gratitudes/form",
        locals: { collaboration_id: nil, grat_path: @gratitude } %>

<button id="sweet-alert-demo" class="btn btn-primary" onclick="bindSweetAlertButtonDemo();">Click me!</button>

  </div>
</div>

