<% content_for(:navbar_class, "navbar-transparent") %>

<%= content_for(:title) do %>
Hafuru - Create Gratitude
<% end %>

<div id="login-box">
  <div class="left">
    <div class="col-sm-12 col-xs-6 col-lg-12">
    <h1>Create a Gratitude</h1>
    <%= render partial: "gratitudes/form",
        locals: { collaboration_id: nil, grat_path: @gratitude } %>

  </div>
</div>

